<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="sidebar-master">
        <ul class="sidebar-container-1">
            <a href="/"><li>Home</li></a>
            <a href="/catalog/item/item_list"><li>All items</li></a>
            <a href="/catalog/category/category_list"><li>All categories</li></a>
            <a href="/catalog/iteminstance/iteminstance_list"><li>All available items</li></a>
        </ul>
        <ul class="sidebar-container-2">
            <a href="/catalog/item/create"><li>Create new item</li></a>
            <a href="/catalog/category/create"><li>Create new category</li></a>
            <a href="/catalog/iteminstance/create"><li>Create new item instance (copy)</li></a>
        </ul>
    </div>
</body>
</html>